<section class="section hero-section" id="home">
  <div class="hero-content" [@fadeInUp]>
    <div class="avatar-container">
      <img src="../assets/AvatarPng.webp" alt="Umed Azhar" class="avatar-img" />
    </div>

    <h2 class="greeting">Hello, I'm Umed Azhar</h2>
    <p class="role-subtitle">Software Developer | Angular/Frontend Developer</p>

    <h1 class="headline">
      Engineering <br> High-Performance,<br>
      <span class="italic-serif">Angular</span> Applications.
    </h1>

    <div class="stats-row">
      <div class="stat-item"><span class="stat-number">4+</span> <span class="stat-label">Years of Experience</span>
      </div>
      <div class="stat-item"><span class="stat-number">10+</span> <span class="stat-label">Projects Finished</span>
      </div>
      <div class="stat-item"><span class="stat-number">100%</span> <span class="stat-label">Commitment</span></div>
    </div>

    <div class="cta-group">
      <a (click)="scrollTo('contact')" class="btn btn-primary lg">
        Let's Talk <app-icon name="arrowUpRight" customClass="icon-sm" class="hover-arrow"></app-icon>
      </a>
      <a href="../assets/Umed_Azher_Angular_Developer_Resume.pdf" target="_blank" class="btn btn-dark lg">View
        Resume</a>
    </div>
  </div>
</section>